body {
    background-color: lightgray;
}
button {
    background-color: silver;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 15px;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
    color: black;
}

h1 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

