body {
    background-color: lightgray;
}

button:hover {
    background-color: lightgray;
    color: black;
}

h1 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

